Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

check-black:
  name: check-black
  description: The uncompromising code checker.
  entry: .venv/bin/black --check --diff --quiet
  language: system

flake8:
  name: flake8
  description: the modular source code checker
  entry: .venv/bin/flake8
  language: system

check-isort:
  name: check-isort
  description: check all imports of all python files
  entry: .venv/bin/isort --diff -c
  language: system

black:
  name: black
  description: The uncompromising code formatter.
  entry: .venv/bin/black --safe --quiet
  language: system

isort:
  name: isort
  description: sort all imports of all python files
  entry: .venv/bin/isort -y
  language: system

mypy:
  name: mypy
  description: static typing for Python
  stages:
  - push
  entry: .venv/bin/mypy data_extractor
  language: system
  pass_filenames: false

doc8:
  name: doc8
  description: Style checker for Sphinx (or other) RST documentation
  entry: .venv/bin/doc8 -q
  language: system

docs: update changelog
  README.rst
  docs/source/changelog.rst
Due: doc8

ci: upgrade pytest version to ^6
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: none

test: supports testting mypy plugin
  Makefile
  data_extractor/plugins/mypy_plugin.py
  mypy_plugin.py
  poetry.lock
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  setup.cfg
  tests/mypy.cfg
Due: check-black, flake8, check-isort, black, isort, mypy

feat: add typing_extensions for more compatible type annotations supports
  poetry.lock
  pyproject.toml
  requirements-mini.txt
Due: none

feat: .item.Field supports Generic typing
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

feat: mypy plugin supports applying any generic on Field creations
  data_extractor/plugins/mypy_plugin.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: add some testcases for field extracting with generic
  tests/test_item_with_generic.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort

test: add some testcases for mypy plugin
  tests/typesafety/test_field.yml
Due: none

feat: mypy plugin supports applying is_many flag on field.extract
  data_extractor/plugins/mypy_plugin.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: related 1e2fea1109bbcd8ec753d48ff54f5eedf8dc69f2
  data_extractor/plugins/mypy_plugin.py
Due: check-black, flake8, check-isort, black, isort, mypy

fix: duplicated extracting if class attrs overlap happened
  README.rst
  data_extractor/core.py
  docs/source/changelog.rst
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

fix: remove super class sub-extractors error
  README.rst
  data_extractor/core.py
  docs/source/changelog.rst
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

fix: testcases error related 1e2fea1
  data_extractor/plugins/mypy_plugin.py
  tests/test_item_with_generic.py
Due: check-black, flake8, check-isort, black, isort, mypy

WIP
  data_extractor/plugins/mypy_plugin.py
  poetry.lock
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy

docs: fix wrong docstring of .utils.Property
  README.rst
  data_extractor/utils.py
  docs/source/changelog.rst
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

refactor!: remove the lazy build mechanism of extractors
  README.rst
  data_extractor/core.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/source/api_utils.rst
  docs/source/changelog.rst
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_extractor.py
  tests/test_extractor_with_lxml.py
  tests/test_item.py
  tests/test_json.py
  tests/test_lxml.py
  tests/test_utils.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

WIP: feat: make all properties of extractors unchangeable
  data_extractor/core.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/utils.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

fix: difference between attribute actual type and its type hinting
  data_extractor/core.py
  data_extractor/item.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

docs: add more code comments
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: clean useless "__new__" invocations
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: add some testcases for .utils.Property
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort

refactor: simplified item do not need to change interanl attrs
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: JSON backend invoking mechanism
  README.rst
  data_extractor/json.py
  docs/source/changelog.rst
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

WIP
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: remove the useless code
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: make all properties of extractors immutable (#76)
  README.rst
  data_extractor/item.py
  data_extractor/utils.py
  docs/source/changelog.rst
  tests/test_item.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

ci: replace poetry with pdm
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  noxfile.py
  pdm.lock
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  tests/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: missing "pygments" from packages of build_readme section and use global pre-commit CLI
  .github/workflows/test.yml
  Makefile
  README.rst
  docs/source/contributing.rst
  docs/source/readme.rst
  pdm.lock
  pyproject.toml
  requirements-dev.txt
Due: doc8

docs: fix typo
  README.rst
  docs/source/contributing.rst
Due: doc8

ci: fix nox missing
  .github/workflows/test.yml
Due: none

ci: use global nox CLI
  .github/workflows/test.yml
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
Due: none

ci: pdm config use_venv true for nox
  .github/workflows/test.yml
Due: none

docs: update contributing.rst
  README.rst
  docs/source/contributing.rst
Due: doc8

ci: build_readme linter runs if rst files change
  .pre-commit-config.yaml
Due: none

ci: fix pre-commit install wrong hooks
  Makefile
Due: none

Path conditions:
  check-black: any of: \.py$
  flake8: any of: \.py$
  check-isort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (tests|docs)/
  doc8: any of: \.rst$
