Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master]
        language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: .venv/bin/black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: .venv/bin/flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: .venv/bin/isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: .venv/bin/black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: .venv/bin/isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        stages: [push]
        entry: .venv/bin/mypy data_extractor
        types: [python]
        exclude: (tests|docs)/
        language: system
        pass_filenames: false
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: .venv/bin/blacken-docs --line-length 80
        exclude_types: [python, toml, yaml, ini, makefile]
        types: [file, non-executable, text]
        language: system
      - id: doc8
        name: doc8
        description: Style checker for Sphinx (or other) RST documentation
        entry: .venv/bin/doc8 -q
        types: [rst]
        language: system
      - id: build_readme
        name: build_readme
        description: Build README.rst
        entry: .venv/bin/python scripts/build_readme.py README.template.rst README.rst
        language: system
        pass_filenames: false

test: test in mulitpe venv via nox
  .github/workflows/test.yml
  Makefile
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: PDM supporting defining groups of deps for dev only
  Makefile
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: update checkers of pre-commit
  .pre-commit-config.yaml
Due: none

ci: add make help
  Makefile
Due: none

ci: fix installation error with coverage_test
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

docs: add PDM managed Badge into README.rst
  README.rst
  docs/source/readme.rst
Due: doc8

docs: update
  README.rst
  docs/source/index.rst
  docs/source/readme.rst
Due: doc8

build: relock dependencies
  pdm.lock
  requirements-dev.txt
  requirements.txt
Due: none

ci: replace poetry with pdm (#78)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.rst
  docs/source/contributing.rst
  docs/source/index.rst
  docs/source/readme.rst
  noxfile.py
  pdm.lock
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  tests/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

ci: fix document deployment
  .readthedocs.yaml
  pdm.lock
  pyproject.toml
  requirements-docs.txt
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: fit in with new APIs of PDM
  Makefile
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: rename requirement pre-commit hooker
  .pre-commit-config.yaml
Due: none

build: upgrade all dependencies
  .pre-commit-config.yaml
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

ci: fixin with new API of PDM
  Makefile
  noxfile.py
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: able to export the setup.py file
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: remove the dummy setup.py file
  setup.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: update the pdm.lock file
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

ci: pre-commit skips export_requirements_txt hook
  .github/workflows/test.yml
Due: none

build: update the pdm.lock file (#82)
  .github/workflows/test.yml
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

test: upgrade pytest to ^6
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
Due: none

test: add pytest-mypy-plugins for testing mypy plugin
  pdm.lock
  pyproject.toml
  requirements-dev.txt
Due: none

feat: WIP generic extractor
  .pre-commit-config.yaml
  Makefile
  README.rst
  data_extractor/contrib/mypy/__init__.py
  data_extractor/item.py
  docs/source/readme.rst
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-mini.txt
  setup.cfg
  tests/mypy.cfg
  tests/mypy.ini
  tests/test_generic_item.py
  tests/typesafety/test_generic.yml
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

ci: update checkers of pre-commit
  .pre-commit-config.yaml
  data_extractor/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: harden mypy plugin codes
  data_extractor/contrib/mypy/__init__.py
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

generic extractor with convertor (#83)
  .pre-commit-config.yaml
  Makefile
  README.rst
  data_extractor/contrib/mypy/__init__.py
  data_extractor/item.py
  data_extractor/utils.py
  docs/source/readme.rst
  noxfile.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  setup.cfg
  tests/mypy.cfg
  tests/mypy.ini
  tests/test_generic_item.py
  tests/typesafety/test_generic.yml
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

docs: add TODO into data_extractor/item.py file
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: Add test-mypy-plugin job
  .github/workflows/test.yml
Due: none

bump: version 0.9.0 -> 0.10.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
Due: doc8

ci: Update GitHub Actions configuration
  .github/workflows/test.yml
Due: none

fix: typo in .utils.Propetry
  data_extractor/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

bump: version 0.10.0 -> 0.10.1
  README.rst
  docs/source/changelog.rst
Due: doc8

fix: make RV & Convertor exported
  data_extractor/__init__.py
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

docs: Update documentation about GenericExtractor
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
Due: doc8

docs: Remove duplicated section about contributing
  README.rst
  docs/source/readme.rst
Due: doc8

docs: update "classifiers" field of package metadata
  pyproject.toml
Due: none

fix: cant apply is_many flag on Extractor subclasses
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy

fix: compat issue
  data_extractor/contrib/mypy/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

feat(mypy_plugin): item extracted results analyzed as typeddict
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_extracted_typed_dict.yml
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy
