Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master]
        language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: .venv/bin/black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: .venv/bin/flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: .venv/bin/isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: .venv/bin/black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: .venv/bin/isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        stages: [push]
        entry: .venv/bin/mypy data_extractor
        types: [python]
        exclude: (tests|docs)/
        language: system
        pass_filenames: false
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: .venv/bin/blacken-docs --line-length 80
        exclude_types: [python, toml, yaml, ini, makefile]
        types: [file, non-executable, text]
        language: system
      - id: doc8
        name: doc8
        description: Style checker for Sphinx (or other) RST documentation
        entry: .venv/bin/doc8 -q
        types: [rst]
        language: system
      - id: build_readme
        name: build_readme
        description: Build README.rst
        entry: .venv/bin/python scripts/build_readme.py README.template.rst README.rst
        language: system
        pass_filenames: false

fix: compat issue
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_extracted_typed_dict.yml
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy

feat(mypy_plugin): item extracted results analyzed as typeddict (#87)
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_extracted_typed_dict.yml
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy

fix: useless configuraitons
  setup.cfg
  tests/mypy.cfg
Due: none

fix: pytest-mypy-plugin no coverage results
  Makefile
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: test mypy plugin with codecov & upgrade codecov
  .github/workflows/test.yml
Due: none

fix: useless code fragment
  data_extractor/contrib/mypy/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: harden existed tests to improve code coverage
  tests/typesafety/test_extracted_typed_dict.yml
Due: none

ci: add a quick command for testing mypy plugin across python versions
  Makefile
Due: none

ci: add noxfile utility func venv_setup_on_create
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: add Makefile utility function about testting
  Makefile
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: fix unable to get cwd
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

fix(mypy_plugin): fix in some scenarios plugin not working
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy

test(mypy_plugin): harden existed tests to improve code coverage
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy

refactor(mypy_plugin): reduce useless branchs to improve code coverage
  data_extractor/contrib/mypy/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

test(mypy_plugin): add item_in-place_extracting unittest
  setup.cfg
  tests/typesafety/conftest.py
  tests/typesafety/test_extracted_typed_dict.yml
Due: check-black, flake8, check-isort, black, isort

fix(mypy_plugin): name paramater does not overwrite field name in extract result
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_extracted_typed_dict.yml
Due: check-black, flake8, check-isort, black, isort, mypy

build: fit with latest PDM
  Makefile
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: upgrade jsonpath-extractor to v0.8.0
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

build: fit with latest PDM
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: fit with latest PDM
  Makefile
  noxfile.py
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

bump: version 0.10.1 -> 0.10.2
  README.rst
  docs/source/changelog.rst
Due: doc8

docs: update with v0.x
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
Due: doc8

build: update packages
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

build: fit with latest PDM
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: fix wrong behavior of 'nox -s test_mypy_plugin' with posargs
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: update checkers of pre-commit
  .pre-commit-config.yaml
Due: none

build: update packages
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
Due: none

build: support Python 3.10
  .github/workflows/test.yml
  Makefile
  noxfile.py
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy

ci: upgrade pdm-project/setup-pdm GitHub action
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

build: update packages
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

fix(mypy_plugin): update mypy to pass item_in-place_extracting unit-test
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  tests/typesafety/conftest.py
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort

ci: update hooks of pre-commit
  .pre-commit-config.yaml
  data_extractor/contrib/mypy/__init__.py
  data_extractor/item.py
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: make mypy in Py37 happy
  tests/typesafety/conftest.py
Due: check-black, flake8, check-isort, black, isort

refactor(mypy_plugin): improve coverage
  data_extractor/contrib/mypy/__init__.py
  tests/typesafety/test_extracted_typed_dict.yml
Due: check-black, flake8, check-isort, black, isort, mypy

docs: update rtd build configuration
  .readthedocs.yaml
Due: none
