Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

check-black:
  name: check-black
  description: The uncompromising code checker.
  entry: .venv/bin/black --check --diff --quiet
  language: system

flake8:
  name: flake8
  description: the modular source code checker
  entry: .venv/bin/flake8
  language: system

check-isort:
  name: check-isort
  description: check all imports of all python files
  entry: .venv/bin/isort --diff -c
  language: system

black:
  name: black
  description: The uncompromising code formatter.
  entry: .venv/bin/black --safe --quiet
  language: system

isort:
  name: isort
  description: sort all imports of all python files
  entry: .venv/bin/isort -y
  language: system

mypy:
  name: mypy
  description: static typing for Python
  stages:
  - push
  entry: .venv/bin/mypy data_extractor
  language: system
  pass_filenames: false

doc8:
  name: doc8
  description: Style checker for Sphinx (or other) RST documentation
  entry: .venv/bin/doc8 -q
  language: system

Bump to v0.6.0.dev1
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

New:Make different implementations of JSONExtractor optional
  Makefile
  data_extractor/__init__.py
  data_extractor/json.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_extractor.py
  tests/test_item.py
  tests/test_json.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Fix:Nox changes symlink '.venv' of virtualenv of development
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  tests/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,New:Use nox test in multi-py-versions, Update workflow
  .github/workflows/pythonpackage.yml
  Makefile
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Fix:remove the venv before pretest installation
  .github/workflows/pythonpackage.yml
Due: none

Fix:Use __getattr__ on the module in the wrong way
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,New:Add Github Actions for CI
  .github/workflows/pythonpackage.yml
  .travis.yml
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Dev,Chg:Test in two ways
  .github/workflows/pythonpackage.yml
  Makefile
Due: none

Bump to v0.6.0.dev2
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Chg:Upgrade dependencies
  poetry.lock
  requirements-mini.txt
  requirements.txt
Due: none

New:Add jsonpath-extractor as opitional json extractor backend
  .github/workflows/pythonpackage.yml
  Makefile
  data_extractor/json.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_json.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Fix:Install unneeded development dependencies
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Chg:Upgrade poetry version in Makefile
  Makefile
Due: none

Test,Fix:Missing JSONPathExtractor in simple extractor tests
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort

Chg:Upgrade dependencies
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: none

Bump to v0.6.0-alpha.3
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: doc8

Fix:Type annotation error
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Can't import JSONPathExtractor from root module
  data_extractor/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg,Dev:Allow to commit on master branch
  .pre-commit-config.yaml
Due: none

Fix:Item created error by `type` function. (Issue #56)
  data_extractor/abc.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.6.1
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Fix: wrong term on test name
  tests/test_json.py
Due: check-black, flake8, check-isort, black, isort

Chg:Update github workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.rst
  docs/source/readme.rst
Due: doc8

New:Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Fix,Dev:Export wrong dependencies into requirements.txt
  .pre-commit-config.yaml
  Makefile
  noxfile.py
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  scripts/export_requirements_txt.sh
Due: check-black, flake8, check-isort, black, isort, mypy

Chg,CI:Ignore Codecov report upload error
  .github/workflows/test.yml
Due: none

New,Dev:Add make pre-commit_init to setup pre-commit
  Makefile
Due: none

Chg,Dev:Allow developer to change python version by running make activate
  Makefile
Due: none

Chg:Make lxml and cssselect optional
  data_extractor/lxml.py
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
  tests/test_extractor.py
  tests/test_extractor_with_lxml.py
  tests/test_item.py
  tests/test_lxml.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Add dummy extractor class for class that missing optional dependency
  data_extractor/__init__.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  tests/conftest.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

New,Docs:Update document about installing optional extractor backend
  README.rst
  docs/source/howto/json.rst
  docs/source/howto/lxml.rst
  docs/source/installation.rst
Due: doc8

Chg:Refactoring DummyMixin to DummyExtractor
  data_extractor/__init__.py
  data_extractor/abc.py
  data_extractor/json.py
  data_extractor/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

Remove:DummyExtractor
  data_extractor/__init__.py
  data_extractor/abc.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  tests/conftest.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Create JSONExtractor with wrong subtype
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Unproper unittests
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort

Feature/make lxml and cssselect optional (#61)
  README.rst
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/source/howto/json.rst
  docs/source/howto/lxml.rst
  docs/source/installation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements-mini.txt
  requirements.txt
  tests/conftest.py
  tests/test_extractor.py
  tests/test_extractor_with_lxml.py
  tests/test_item.py
  tests/test_lxml.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

Bump to v0.7.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Fix,CI:Release failure
  .github/workflows/release.yml
Due: none

Path conditions:
  check-black: any of: \.py$
  flake8: any of: \.py$
  check-isort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (tests|docs)/
  doc8: any of: \.rst$
