Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master]
        language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: .venv/bin/black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: .venv/bin/flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: .venv/bin/isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: .venv/bin/black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: .venv/bin/isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        stages: [push]
        entry: .venv/bin/mypy data_extractor
        types: [python]
        exclude: (tests|docs)/
        language: system
        pass_filenames: false
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: .venv/bin/blacken-docs --line-length 80
        exclude_types: [python, toml, yaml, ini, makefile]
        types: [file, non-executable, text]
        language: system
      - id: doc8
        name: doc8
        description: Style checker for Sphinx (or other) RST documentation
        entry: .venv/bin/doc8 -q
        types: [rst]
        language: system
      - id: build_readme
        name: build_readme
        description: Build README.rst
        entry: .venv/bin/python scripts/build_readme.py README.template.rst README.rst
        language: system
        pass_filenames: false

build: update build-system for env compat
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
Due: none

build: update packages
  Makefile
  pdm.lock
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

ci: update hooks of pre-commit
  .pre-commit-config.yaml
Due: none

docs: update rtd build packages
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
Due: none

build: update packages
  .pre-commit-config.yaml
  data_extractor/contrib/mypy/__init__.py
  data_extractor/item.py
  pdm.lock
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
  setup.cfg
  tests/test_item.py
  tests/typesafety/test_extracted_typed_dict.yml
  tests/typesafety/test_generic.yml
Due: check-black, flake8, check-isort, black, isort, mypy

ci: fix test workflow
  .github/workflows/test.yml
Due: none

ci: quick fix
  .github/workflows/test.yml
  Makefile
  noxfile.py
  requirements-dev.txt
  requirements-docs.txt
Due: check-black, flake8, check-isort, black, isort, mypy

build: update packages
  pdm.lock
  pyproject.toml
Due: none

build: update packages
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

build: update packages
  .pre-commit-config.yaml
Due: none

chore: make flake8 happy
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

test: fix assert error
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

chore: dont export requirements
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements-docs.txt
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: update packages
  .pre-commit-config.yaml
  pdm.lock
Due: none

style: fix style issues
  .pre-commit-config.yaml
  data_extractor/__init__.py
  data_extractor/core.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  scripts/build_readme.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: packaging by flake and dream2nix
  .gitignore
  .pre-commit-config.yaml
  Makefile
  default.nix
  flake.lock
  flake.nix
  noxfile.py
  pdm.lock
  pyproject.toml
Due: check-black, flake8, check-isort, black, isort, mypy

chore: export requirements
  .pre-commit-config.yaml
  scripts/export_requirements_txt.py
  scripts/requirements-dev.txt
  scripts/requirements-docs.txt
  scripts/requirements-mini.txt
  scripts/requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy

build: fix docs building
  .readthedocs.yaml
Due: none

build: drop support of py 3.8
  pdm.lock
  pyproject.toml
  scripts/requirements-dev.txt
  scripts/requirements-docs.txt
  scripts/requirements.txt
Due: none

ci: update .github/workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: fix lint error
  scripts/build_readme.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: fix coverage
  data_extractor/contrib/mypy/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

build: fix docs building
  pdm.lock
  pyproject.toml
  scripts/requirements-dev.txt
  scripts/requirements-docs.txt
Due: none

ci: avoid dependabot scanning raw requirements file
  .readthedocs.yaml
  scripts/export_requirements_txt.py
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
  scripts/requirements/requirements-mini.txt
  scripts/requirements/requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy

docs: update
  README.rst
  data_extractor/core.py
  docs/source/changelog.rst
  docs/source/history.rst
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

docs: update
  README.rst
  docs/source/changelog.rst
Due: doc8

Create dependabot.yml
  .github/dependabot.yml
Due: none

build(deps): remove pin of certifi
  pdm.lock
  pyproject.toml
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
Due: none

test: remove meanless test
  tests/typesafety/test_generic.yml
Due: none

build: supports python3.13
  .github/workflows/test.yml
  Makefile
  README.rst
  default.nix
  docs/source/changelog.rst
  docs/source/history.rst
  flake.nix
  noxfile.py
  pdm.lock
  pyproject.toml
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
  scripts/requirements/requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

build(deps): bump pytest
  pdm.lock
  pyproject.toml
  scripts/requirements/requirements-dev.txt
Due: none

build: drop support of py 3.9
  Makefile
  noxfile.py
  pdm.lock
  pyproject.toml
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
  scripts/requirements/requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy
