Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master]
        language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        args: [--unsafe]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: .venv/bin/black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: .venv/bin/flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: .venv/bin/isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: .venv/bin/black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: .venv/bin/isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        stages: [push]
        entry: .venv/bin/mypy data_extractor
        types: [python]
        exclude: (tests|docs)/
        language: system
        pass_filenames: false
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: .venv/bin/blacken-docs --line-length 80
        exclude_types: [python, toml, yaml, ini, makefile]
        types: [file, non-executable, text]
        language: system
      - id: doc8
        name: doc8
        description: Style checker for Sphinx (or other) RST documentation
        entry: .venv/bin/doc8 -q
        types: [rst]
        language: system
      - id: build_readme
        name: build_readme
        description: Build README.rst
        entry: .venv/bin/python scripts/build_readme.py README.template.rst README.rst
        language: system
        pass_filenames: false

ci: add dummy setup.py to enable GitHub "Used By" stats
  setup.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: remove command ::set-env that github action is unable to process
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

style: update code format configure
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.rst
  data_extractor/__init__.py
  data_extractor/abc.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/make.bat
  docs/source/conf.py
  docs/source/history.rst
  docs/source/howto/lxml.rst
  docs/source/quickstarts.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/build_readme.py
  scripts/export_requirements_txt.py
  setup.cfg
  setup.py
  tests/__init__.py
  tests/assets/sample-rss-2.xml
  tests/test_extractor.py
  tests/test_extractor_with_lxml.py
  tests/test_item.py
  tests/test_json.py
  tests/test_lxml.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

style: unindent .pre-commit-config.yaml file
  .pre-commit-config.yaml
Due: none

ci: use blacken-docs with pre-commit
  .pre-commit-config.yaml
  README.rst
  docs/source/quickstarts.rst
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: doc8

ci: use blacken-docs with pre-commit
  poetry.lock
Due: none

feat: supports latest jsonpath-extractor package
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

style: use commitizen package to do conventional commits
  pyproject.toml
Due: none

docs: update changelog
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
Due: doc8

bump: version 0.7.0 → 0.8.0
  pyproject.toml
Due: none

ci: update .gitignore file
  .gitignore
Due: none

refactor: .utils.Property with "Customized names" support
  data_extractor/abc.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

fix: wrong type annotations
  data_extractor/item.py
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: make type checker happy
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

test: add helper utils function is_built
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

ci: right way to invoke mypy via pre-commit
  .pre-commit-config.yaml
Due: none

ci: remove meanless args for invoking mypy
  Makefile
Due: none

fix: type annotations
  data_extractor/json.py
  data_extractor/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

fix: f-string debugging not supports before 3.8
  data_extractor/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

test: .utils.getframe with invalid param depth
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort

fix: type annotations
  data_extractor/item.py
  data_extractor/lxml.py
  data_extractor/utils.py
  tests/test_exceptions.py
  tests/test_item.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

ci: auto isntall pre-commit hooks & set it up
  Makefile
Due: none

ci: fewer jobs to run
  .github/workflows/test.yml
Due: none

ci: update coveragepy config to exclude type annotations codes
  setup.cfg
Due: none

test: property accessing error
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort

ci: update mypy to the latest version
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: none

fix: type annotations
  data_extractor/abc.py
Due: check-black, flake8, check-isort, black, isort, mypy

refactor: rename .abc to .core and mark elder duplciated
  data_extractor/__init__.py
  data_extractor/abc.py
  data_extractor/core.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/source/api_abc.rst
  docs/source/api_core.rst
  docs/source/api_reference.rst
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

refactor: what leave off by the previous commit
  data_extractor/core.py
  setup.cfg
  tests/test_utils.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

docs: update changelog
  README.rst
  docs/source/changelog.rst
Due: doc8

refactor: rename .abc to .core and mark elder duplciated (#65)
  README.rst
  data_extractor/__init__.py
  data_extractor/abc.py
  data_extractor/core.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/source/api_abc.rst
  docs/source/api_core.rst
  docs/source/api_reference.rst
  docs/source/changelog.rst
  setup.cfg
  tests/test_utils.py
  tests/utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

bump: version 0.8.0 -> 0.9.0
  pyproject.toml
Due: none

refactor!: remove duplciated module "data_extractor.abc"
  README.rst
  data_extractor/abc.py
  docs/source/changelog.rst
  setup.cfg
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

docs: format docstring
  data_extractor/core.py
Due: check-black, flake8, check-isort, black, isort, mypy

WIP: feat: make extractor as a Generic class
  data_extractor/core.py
  data_extractor/item.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  tests/test_exceptions.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

feat: supports PEP 561 -- Distributing and Packaging Type Information
  data_extractor/py.typed
  pyproject.toml
Due: none

fix: remove LICENSE file from dist files
  pyproject.toml
Due: none
