Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

check-black:
  name: check-black
  description: The uncompromising code checker.
  entry: .venv/bin/black --check --diff --quiet
  language: system

flake8:
  name: flake8
  description: the modular source code checker
  entry: .venv/bin/flake8
  language: system

check-isort:
  name: check-isort
  description: check all imports of all python files
  entry: .venv/bin/isort --diff -c
  language: system

black:
  name: black
  description: The uncompromising code formatter.
  entry: .venv/bin/black --safe --quiet
  language: system

isort:
  name: isort
  description: sort all imports of all python files
  entry: .venv/bin/isort -y
  language: system

mypy:
  name: mypy
  description: static typing for Python
  stages:
  - push
  entry: .venv/bin/mypy data_extractor
  language: system
  pass_filenames: false

doc8:
  name: doc8
  description: Style checker for Sphinx (or other) RST documentation
  entry: .venv/bin/doc8 -q
  language: system

Dev,Fix:Build travis-ci config validation
  .travis.yml
Due: none

Bump to v0.5.1
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Fix:Wrong parameter name
  data_extractor/lxml.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.5.2
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Chg:Wrap the single return value as a list
  data_extractor/abc.py
  data_extractor/item.py
  data_extractor/lxml.py
  tests/test_item.py
  tests/test_lxml.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Item can not extract the data is list type
  data_extractor/item.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Chg:Update poetry.lock
  poetry.lock
Due: none

Bump to v0.5.3
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Fix:Simplified item's extract_first method fail to raise ExtractError
  data_extractor/item.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Simplified item's extract_first method should support param default
  data_extractor/item.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:More unittest for testing the simplified items
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

Docs,Chg:Update travis-ci status source in the README.rst
  README.rst
  docs/source/readme.rst
Due: doc8

Bump to v0.5.4
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Dev,New:Add Github Actions for CI
  .github/workflows/pythonpackage.yml
  .travis.yml
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Dev,New:Add scripts/export_requirements_txt.sh
  .pre-commit-config.yaml
  Makefile
  requirements-mini.txt
  requirements.txt
  scripts/export_requirements_txt.sh
Due: none

Dev,Chg:Remove travis-ci
  .travis.yml
  README.rst
  docs/source/readme.rst
Due: doc8

Fix:Use __getattr__ on the module in the wrong way
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Make different implementations of JSONExtractor optional
  Makefile
  data_extractor/__init__.py
  data_extractor/json.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_extractor.py
  tests/test_item.py
  tests/test_json.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Fix:Cannot use pytest.mark.usefixtures() in pytest.param https://github.com/pytest-dev/pytest/issues/4112
  tests/test_extractor.py
  tests/test_item.py
  tests/test_json.py
Due: check-black, flake8, check-isort, black, isort

Dev,Chg:Upgrade poetry version in Makefile
  Makefile
Due: none

Dev,Chg:Test in two ways
  .github/workflows/pythonpackage.yml
  Makefile
Due: none

Chg:Upgrade dependencies
  poetry.lock
  requirements-mini.txt
  requirements.txt
Due: none

Dev,Fix:remove the venv before pretest installation
  .github/workflows/pythonpackage.yml
Due: none

New:Add jsonpath-extractor as opitional json extractor backend
  .github/workflows/pythonpackage.yml
  Makefile
  data_extractor/json.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/__init__.py
  tests/conftest.py
  tests/test_json.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.6.0.dev1
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Dev,New:Use nox test in multi-py-versions, Update workflow
  .github/workflows/pythonpackage.yml
  Makefile
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy

Fix:Can't import JSONPathExtractor from root module
  data_extractor/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Fix:Nox changes symlink '.venv' of virtualenv of development
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
  tests/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

Test,Fix:Missing JSONPathExtractor in simple extractor tests
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort

Dev,Fix:Install unneeded development dependencies
  noxfile.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.6.0.dev2
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Fix:Type annotation error
  data_extractor/json.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.6.0-alpha.3
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: doc8

Chg:Upgrade dependencies
  poetry.lock
  pyproject.toml
  requirements-mini.txt
  requirements.txt
Due: none

Bump to v0.6.0
  README.rst
  docs/source/changelog.rst
  docs/source/history.rst
  pyproject.toml
Due: doc8

Path conditions:
  check-black: any of: \.py$
  flake8: any of: \.py$
  check-isort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (tests|docs)/
  doc8: any of: \.rst$
