Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

check-black:
  name: check-black
  description: The uncompromising code checker.
  entry: .venv/bin/black --check --diff --quiet
  language: system

flake8:
  name: flake8
  description: the modular source code checker
  entry: .venv/bin/flake8
  language: system

check-isort:
  name: check-isort
  description: check all imports of all python files
  entry: .venv/bin/isort --diff -c
  language: system

black:
  name: black
  description: The uncompromising code formatter.
  entry: .venv/bin/black --safe --quiet
  language: system

isort:
  name: isort
  description: sort all imports of all python files
  entry: .venv/bin/isort -y
  language: system

mypy:
  name: mypy
  description: static typing for Python
  stages:
  - push
  entry: .venv/bin/mypy data_extractor
  language: system
  pass_filenames: false

doc8:
  name: doc8
  description: Style checker for Sphinx (or other) RST documentation
  entry: .venv/bin/doc8 -q
  language: system

build: drop support of py 3.9
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

build: drop support of py 3.9
  .github/workflows/test.yml
Due: none

Update dependencies
  .pre-commit-config.yaml
  data_extractor/contrib/mypy/__init__.py
  pdm.lock
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
  scripts/requirements/requirements.txt
  tests/test_exceptions.py
  tests/test_item.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy

Update workflow actions
  .github/workflows/test.yml
Due: none

Refresh workflow actions
  .github/workflows/test.yml
Due: none

Update CI PDM version
  .github/workflows/test.yml
Due: none

Normalize PDM group name
  noxfile.py
  pdm.lock
  pyproject.toml
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
  scripts/requirements/requirements.txt
Due: check-black, flake8, check-isort, black, isort, mypy

Fix mypy API fallback
  data_extractor/contrib/mypy/__init__.py
Due: check-black, flake8, check-isort, black, isort, mypy

Cover mypy API fallback
  tests/typesafety/test_mypy_plugin.py
Due: check-black, flake8, check-isort, black, isort

Upgrade lxml and pytest
  pdm.lock
  pyproject.toml
  scripts/requirements/requirements-dev.txt
  scripts/requirements/requirements-docs.txt
  scripts/requirements/requirements.txt
Due: none

Fix pytest fixture marks
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

Path conditions:
  check-black: any of: \.py$
  flake8: any of: \.py$
  check-isort: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: (tests|docs)/
  doc8: any of: \.rst$
