Repository linw1995/data_extractor: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-black, flake8, check-isort, black, isort, mypy, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, master]
        language_version: python3
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.4.1
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: rst-backticks
  - repo: local
    hooks:
      - id: check-black
        name: check-black
        description: The uncompromising code checker.
        entry: black --check --diff --quiet
        types: [python]
        language: system
      - id: flake8
        name: flake8
        description: the modular source code checker
        entry: flake8
        types: [python]
        language: system
      - id: check-isort
        name: check-isort
        description: check all imports of all python files
        entry: isort --diff -c
        types: [python]
        language: system
      - id: black
        name: black
        description: The uncompromising code formatter.
        entry: black --safe --quiet
        types: [python]
        language: system
      - id: isort
        name: isort
        description: sort all imports of all python files
        entry: isort -y
        types: [python]
        language: system
      - id: mypy
        name: mypy
        description: static typing for Python
        stages: [push]
        entry: mypy
        types: [python]
        exclude: (tests|docs)/
        language: system
      - id: blacken-docs
        name: blacken-docs
        description: Run `black` on python code blocks in documentation files
        entry: blacken-docs
        exclude_types: ["python"]
        types: ["file", "non-executable", "text"]
        language: system
      - id: doc8
        name: doc8
        description: Style checker for Sphinx (or other) RST documentation
        entry: doc8 -q
        types: [rst]
        language: system

Fix pre-commit check error
  data_extractor/abc.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/lxml.py
  docs/Makefile
  docs/source/api_exceptions.rst
  docs/source/quickstarts.rst
  tests/assets/sample-rss-2.xml
  tests/test_exceptions.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

Replace pytest.ini with setup.cfg
  pytest.ini
  setup.cfg
Due: none

Remove MANIFEST.in
  MANIFEST.in
Due: none

Fix .travis.yml error
  .travis.yml
Due: none

Fix .travis.yml error
  .pre-commit-config.yaml
  .travis.yml
Due: none

Fix setup.cfg error
  pytest.ini
  setup.cfg
Due: none

Add pre-commit support and fix pre-commit check error (#32)
  .pre-commit-config.yaml
  .travis.yml
  MANIFEST.in
  Makefile
  data_extractor/abc.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/lxml.py
  docs/Makefile
  docs/source/api_exceptions.rst
  docs/source/quickstarts.rst
  poetry.lock
  pyproject.toml
  pytest.ini
  setup.cfg
  tests/assets/sample-rss-2.xml
  tests/test_exceptions.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

Bump to v0.4.1
  CHANGES.md
  HISTORY.md
  README.md
  pyproject.toml
Due: none

Split AbstractExtractor into AbstractSimpleExtractor and AbstractComplexExtractor
  data_extractor/__init__.py
  data_extractor/abc.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/source/api_abc.rst
  docs/source/api_lxml.rst
  docs/source/api_utils.rst
  tests/test_item.py
  tests/test_utils.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

Update pyproject.toml
  pyproject.toml
Due: none

Bump to v0.5.0.dev1
  HISTORY.md
  README.md
  pyproject.toml
Due: none

Fix:Complex extractor inheritance missing fields
  data_extractor/abc.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.4.2
  HISTORY.md
  README.md
  pyproject.toml
Due: none

New:Add "make ini_by_poetry" to intialize dev env
  Makefile
Due: none

Chg:Update pre-commit config, makefile, and .travis.yml to fix in a new dev env setup.
  .pre-commit-config.yaml
  .travis.yml
  Makefile
Due: none

Fix:Travis-ci missing .venv/bin/pip error
  Makefile
Due: none

Fix:Travis-ci error
  .travis.yml
Due: none

Chg:Use `sys.prefix` to link
  Makefile
Due: none

Chg:Update .travis.yml
  .travis.yml
Due: none

Feature/more friendly development setup (#34)
  .pre-commit-config.yaml
  .travis.yml
  Makefile
Due: none

New:Support testing in 3.8
  .travis.yml
Due: none

New:Stash unstaged code before testing
  Makefile
Due: none

New:Best way to raise new exc
  data_extractor/json.py
  data_extractor/lxml.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:ExprError __str__ implementation
  data_extractor/exceptions.py
  tests/test_json.py
  tests/test_lxml.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.5.0.dev3
  README.md
  pyproject.toml
Due: none

Fix:Update mypy pre-commit config
  .pre-commit-config.yaml
Due: none

New:Raise SyntaxError when field overwrites method
  data_extractor/abc.py
  data_extractor/utils.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Mock for no stack frame support
  pytest.ini
  tests/conftest.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort

New:Raise SyntaxError when field overwrites method (#38)
  data_extractor/abc.py
  data_extractor/utils.py
  pytest.ini
  tests/conftest.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Bump to v0.5.0.dev4
  README.md
  pyproject.toml
Due: none

Dev,Fix:format code not includes flake8
  Makefile
Due: none

New:Avoid field overwriting property
  data_extractor/abc.py
  data_extractor/item.py
  data_extractor/utils.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Feature/avoid field overwriting (#39)
  Makefile
  data_extractor/abc.py
  data_extractor/item.py
  data_extractor/utils.py
  tests/test_item.py
Due: check-black, flake8, check-isort, black, isort, mypy

Dev,Fix:Black configure not working
  data_extractor/abc.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/lxml.py
  pyproject.toml
  setup.cfg
  tests/test_item.py
  tests/test_json.py
Due: check-black, flake8, check-isort, black, isort, mypy

New:Implement extractors' build method
  data_extractor/abc.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/lxml.py
  data_extractor/utils.py
  docs/source/api_abc.rst
  docs/source/api_item.rst
  docs/source/api_json.rst
  docs/source/api_lxml.rst
  docs/source/api_utils.rst
  setup.cfg
  tests/conftest.py
  tests/test_exceptions.py
  tests/test_extractor.py
  tests/test_item.py
  tests/test_json.py
  tests/test_lxml.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

Bump to v0.5.0.dev5
  README.md
  pyproject.toml
Due: none

Chg:Update docs
  .pre-commit-config.yaml
  README.md
  README.rst
  README.template.rst
  data_extractor/abc.py
  data_extractor/exceptions.py
  data_extractor/item.py
  data_extractor/json.py
  data_extractor/utils.py
  docs/source/_static/custom.css
  docs/source/api_reference.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/history.rst
  docs/source/howto/index.rst
  docs/source/howto/item.rst
  docs/source/howto/json.rst
  docs/source/howto/lxml.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/quickstarts.rst
  docs/source/readme.rst
  pyproject.toml
  scripts/build_readme.py
Due: check-black, flake8, check-isort, black, isort, mypy, doc8

Bump to v0.5.0
  README.rst
  docs/source/changelog.rst
  pyproject.toml
Due: doc8

Fix:Wrong shield placing
  README.rst
  docs/source/readme.rst
Due: doc8
